<!DOCTYPE html>
<html>
  <head>
    <title>Flask + MySql</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <p>One employee: {{ employees[3][0] }} {{ employees[3][1]}}</p>
      <p>Looping all employees:</p>
      <ul>
        {% for e in employees %}
            <li><a href="{{ url_for('employee', empNbr=e[0])}}">{{ e[1] }} {{ e[2] }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
</title>
</head>
<body>

</body>
</html>